<form class="flex lg:flex-row flex-col card--main" (ngSubmit)="applyFilters()">
  <div class="w-full">
    <mat-form-field class="w-full">
      <mat-label> Find character </mat-label>
      <input
        matInput
        [(ngModel)]="name"
        name="name"
        placeholder="Ej. Rick"
        autocomplete="off"
        (keyup.enter)="applyFilters()"
      />
      <button mat-icon-button matPrefix tabindex="-1" disabled class="px-3">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="w-full">
    <app-multi-select-filter
      label="Find by status"
      [options]="statusOptions"
      [(selected)]="selectedStatus"
    ></app-multi-select-filter>
  </div>

  <div class="w-full">
    <app-multi-select-filter
      label="Find by gender"
      [options]="genderOptions"
      [(selected)]="selectedGender"
    ></app-multi-select-filter>
  </div>

  <div class="flex justify-end gap-2 w-full lg:w-32">
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      class="rounded-lg w-full lg:w-32"
    >
      <mat-icon class="mr-1">search</mat-icon>
      Search
    </button>
  </div>
</form>
